/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.08.03., 14:49:49
    Author     : Dr.Chase
*/
/*
@namespace url("http://www.w3.org/1999/xhtml");
@namespace h url(http://java.sun.com/jsf/html);

h | body { padding-top: 8em; }
h | html { color: #fff; background: #000 no-repeat fixed;} 
h | outputLabel   {
    width : 30em;
    font-weight: bold;
    color: darkorchid;
}*/
* {
   box-sizing:border-box;
   margin: 0px;
}
body{
    font-family: Times New Roman,serif,arial;
    background-color: rgb(230, 237, 225);
    text-align:center;
    height: 100vh;
}
html	{
	height: 100vh;
}

div.romajiform  {
    border: 1px solid #665544;
}
/* https://stackoverflow.com/questions/1575141/how-to-make-a-div-100-height-of-the-browser-window */
div.H_OuterDiv  {
    height: 80vh;
    width: 80%;
    margin: 1.5em auto 1.5em auto;
}

div.hiragana_to_romaji_area	{
	height: 20vh;
	background-color: rgb(255, 150, 157)
}

div.r_to_h_area	{
	height: 20vh;
	background-color: rgb(255, 153, 204);
}

div.k_to_r_area	{
	height: 20vh;
	background-color: rgb(102, 255, 51);
}

div.r_to_k_area	{
	height: 20vh;
	background-color: rgb(204, 102, 0);
}


div.inputTextBoxClass  {

	height: 20vh;
    width: 45%;
    float: left;

}
div.middleButtonDivsClass {

	height: 20vh;
    width: 10%;
    float: left;
    background-color: rgb(150, 255, 242);
}
div.outputTextboxClass    {

	height: 20vh;
    width: 45%;
    float: left;

}
div.H_ButtonsDiv    {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#secondTranslateDivId .middleButtonDivsClass	{
	background-color: rgb(0, 102, 255);
}

#fourthTranslateDivId .middleButtonDivsClass	{
	background-color: rgb(0, 102, 255);
}

form#h_to_r_hiragana	{
	height: 100%;
	width: 100%;
}

.blockheadings {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.formClass	{
	height: 20vh;
}



.errorMsg {
  color: red;
}