<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Convert Hiragana, Romaji</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="styles.css"/>
        <f:view>
            <div class="H_OuterDiv">
            	<div class="hiragana_to_romaji_area">
            	
            		
	                <!-- h_to_r = hiragana to romaji -->
	                <h:form id="h_to_r_hiragana" class="formClass">
	                	
	                	<!-- class originally H_HiraganaTextArea -->
	                    <div class="inputTextBoxClass">
	                        <h3><h:outputText value="Enter Hiragana" /></h3>
	                        <h:inputTextarea cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" value="#{hiraganaToRomajiConverter.hiraganaInput}"></h:inputTextarea>
	                    </div>
	                    <!-- class originally H_MiddleDiv -->
	                    <div id="firstTranslateDiv" class="middleButtonDivsClass">
	                    	<h5 class="blockheadings"><h:outputText value="Hiragana to Romaji" /></h5>
	                        <div class="H_ButtonsDiv">
	                            <h:commandButton value="Translate" action="#{hiraganaToRomajiConverter.convertHiraganaToRomaji()}"></h:commandButton>
	                        </div>
	                    </div>
	                    <!-- class originally H_RomajiTextArea -->
	                    <div class="outputTextboxClass">
		                    <h3>
		                        Romaji Output Text
		                    </h3>
		                    <h:inputTextarea value="#{hiraganaToRomajiConverter.romajiOutput}" cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" />
		                </div>
	                </h:form>
	                
	                
            	</div>
            	<div class="r_to_h_area">
            		<h:form id="r_to_h_formid" class="formClass">
	                	
	                    <div class="inputTextBoxClass">
	                        <h3><h:outputText value="Enter Romaji" /></h3>
	                        <h:inputTextarea cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" value="#{romajiToHiraganaConverter.romajiInput}"></h:inputTextarea>
	                    </div>

	                    <div id="secondTranslateDivId" class="middleButtonDivsClass" style="background-color: rgb(0, 102, 255)">
	                    	<h5 class="blockheadings"><h:outputText value="Romaji to Hiragana" /></h5>
	                        <div class="H_ButtonsDiv">
	                            <h:commandButton value="Translate" action="#{romajiToHiraganaConverter.convertRomajiToHiragana()}"></h:commandButton>
	                        </div>
	                    </div>

	                    <div class="outputTextboxClass">
		                    <h3>
		                        Hiragana Output Text
		                    </h3>
		                    <h:inputTextarea value="#{romajiToHiraganaConverter.hiraganaOutput}" cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" />
		                </div>
	                </h:form>
            	</div>
            	
            	<div class="k_to_r_area">
            		<h:form id="k_to_h_formid" class="formClass">
	                	
	                    <div class="inputTextBoxClass">
	                        <h3><h:outputText value="Enter Katakana" /></h3>
	                        <h:inputTextarea cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" value="#{katakanaAToRomajiConverter.katakanaInput}"></h:inputTextarea>
	                    </div>

	                    <div id="thirdTranslateDivId" class="middleButtonDivsClass">
	                    	<h5 class="blockheadings"><h:outputText value="Katakana to Romaji" /></h5>
	                        <div class="H_ButtonsDiv">
	                            <h:commandButton value="Translate" action="#{katakanaAToRomajiConverter.convertKatakanaToRomaji()}"></h:commandButton>
	                        </div>
	                    </div>

	                    <div class="outputTextboxClass">
		                    <h3>
		                        Romaji Output Text
		                    </h3>
		                    <h:inputTextarea value="#{katakanaAToRomajiConverter.romajiOutput}" cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" />
		                </div>
	                </h:form>
            	</div>
            	
            	<div class="r_to_k_area">
            		<h:form id="r_to_k_formid" class="formClass">
	                	
	                    <div class="inputTextBoxClass">
	                        <h3><h:outputText value="Enter Romaji" /></h3>
	                        <h:inputTextarea cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" value="#{romajiToKatakanaConverter.romajiInput}"></h:inputTextarea>
	                    </div>

	                    <div id="fourthTranslateDivId" class="middleButtonDivsClass" style="background-color: rgb(0, 102, 255)">
	                    	<h5 class="blockheadings"><h:outputText value="Romaji to Katakana" /></h5>
	                        <div class="H_ButtonsDiv">
	                            <h:commandButton value="Translate" action="#{romajiToKatakanaConverter.convertRomajiToKatakana()}"></h:commandButton>
	                        </div>
	                    </div>

	                    <div class="outputTextboxClass">
		                    <h3>
		                        Output Katakana Text
		                    </h3>
		                    <h:inputTextarea value="#{romajiToKatakanaConverter.katakanaOutput}" cols="#{constantsBean.colNum}" rows="#{constantsBean.rowNum}" />
		                </div>
	                </h:form>
            	</div>
                
            </div>
		</f:view>
    </h:body>
</html>